**IMPORTS**

In [5]:
#imports
import pandas as pd
# ????? import matplotlib.pyplot as plt

#import data file, skip first row and adjust na-values
data = pd.read_csv("data/2315676.txt", delim_whitespace=True, skiprows = [1], na_values = ["-9999"])

#check data
data

                 STATION      STATION_NAME      DATE  TAVG  TMAX  TMIN
0      GHCND:FI000007501  SODANKYLA-AWS-FI  19080101   NaN   2.0 -37.0
1      GHCND:FI000007501  SODANKYLA-AWS-FI  19080102   NaN   6.0 -26.0
2      GHCND:FI000007501  SODANKYLA-AWS-FI  19080103   NaN   7.0 -27.0
3      GHCND:FI000007501  SODANKYLA-AWS-FI  19080104   NaN  -3.0 -27.0
4      GHCND:FI000007501  SODANKYLA-AWS-FI  19080105   NaN   4.0 -36.0
...                  ...               ...       ...   ...   ...   ...
41060  GHCND:FI000007501  SODANKYLA-AWS-FI  20201003  47.0  51.0   NaN
41061  GHCND:FI000007501  SODANKYLA-AWS-FI  20201004  43.0  47.0  37.0
41062  GHCND:FI000007501  SODANKYLA-AWS-FI  20201005  42.0   NaN  37.0
41063  GHCND:FI000007501  SODANKYLA-AWS-FI  20201006  45.0  46.0  43.0
41064  GHCND:FI000007501  SODANKYLA-AWS-FI  20201007  47.0  50.0  44.0

[41065 rows x 6 columns]

**CALCULATE AVERAGE AND REPLACE NaN VALUES IN TAVG**

In [6]:
#create new column and fill it with mean calculations
data["temp_avg"] = (data["TMAX"] + data["TMIN"]) / 2
#replace NaN in TAVG with temp_avg and drop still remaining NaN
data.TAVG.fillna(data.temp_avg, inplace = True)
data.dropna(subset=["TAVG"], inplace = True)

#check data
data

,STATION,STATION_NAME,DATE,TAVG,TMAX,TMIN,temp_avg
0,GHCND:FI000007501,SODANKYLA-AWS-FI,19080101,-17.5,2.0,-37.0,-17.5
1,GHCND:FI000007501,SODANKYLA-AWS-FI,19080102,-10.0,6.0,-26.0,-10.0
2,GHCND:FI000007501,SODANKYLA-AWS-FI,19080103,-10.0,7.0,-27.0,-10.0
3,GHCND:FI000007501,SODANKYLA-AWS-FI,19080104,-15.0,-3.0,-27.0,-15.0
4,GHCND:FI000007501,SODANKYLA-AWS-FI,19080105,-16.0,4.0,-36.0,-16.0
...,...,...,...,...,...,...,...
41060,GHCND:FI000007501,SODANKYLA-AWS-FI,20201003,47.0,51.0,NaN,NaN
41061,GHCND:FI000007501,SODANKYLA-AWS-FI,20201004,43.0,47.0,37.0,42.0
41062,GHCND:FI000007501,SODANKYLA-AWS-FI,20201005,42.0,NaN,37.0,NaN
41063,GHCND:FI000007501,SODANKYLA-AWS-FI,20201006,45.0,46.0,43.0,44.5
41064,GHCND:FI000007501,SODANKYLA-AWS-FI,20201007,47.0,50.0,44.0,47.0

**CONVERT TEMPERATURES FROM FAHRENHEIT TO CELSIUS WITH A FUNCTION**

In [ ]:
#create function to convert temps
def fahr_to_celsius(temp_fahrenheit):
    """
    Function to calculate degree Farenheit to degree Celsius
    temp_farenheit is number of degree Farenheit that should be calculated
    returns this number in degree Celsius
    """
    return (temp_fahrenheit - 32) / 1.8

In [ ]:
#convert fahr to cels

#calculate seasonal avg temp for each season in each year

#calculate seasonal avg temp for ref period (4 values)

#calculate seasonal temp anomalies for each year

#plot like example